@import './reset.css';
@import './media.css';
@import './main.js';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
	--max-width:1230px;
    --red:#e74c3c;
    --black:#333;
    --white:#fff;
    --light-bg:#f5f5f5;
    --light-color:#666;
    --border:.1rem solid var(--light-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

body{
	font-family: 'Poppins', sans-serif;
	color:black;
}

.container{
	max-width: 1230px;
	padding: 0 40px;
	margin: 0 auto;/*отступы сверху снизу 0 влево вправо авто*/
    max-height: 100%;
}

/*Header*/
.header{
	background-color:#5E6472;
}

.header-nav{
	display: flex; /* v odin ryd*/
	justify-content: space-between; /* элементы в разные стороны*/
	align-items: flex-end; /*выравнивание концами*/
}

.header-down {
    position: relative;

}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}
.cards-holder {
    display: flex;
    justify-content: space-between;
}


.card {
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    padding: 10px 10px;
}

.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card-title {
     display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;

}

.card-title span {
    color: #D67E35;
    margin-left: 2px;
}

.card-desc {
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    color: #656363;
}

.history-title {
    font-family: 'Tinos', serif;
    font-size: 60px;
    font-weight: 200;
    width: 400px;
    height: 100px;
    text-align: center;
    margin-top: 21px;
}

.history-title span {
    color: #D67E35;
}

.history-desc {
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.number-item span {
    display: block;
    color: #000;
}

.history-images {
    position: relative;
}

.history-holder {
    display: flex;
}

.imgages-1 {
    position: relative;
    z-index: 0;
    top: 2px;
    left: 2px;
    height: 512px;
    margin-inline-start: 25%;

}




.nav-list{
	display: flex;
	align-items: flex-end;
	column-gap: 50px;
	padding-bottom: 13px;
	font-size: 14px;
}

.logos_png{
	height: 100px;
}

.nav-link {
	color: white;
}

.nav-link:active{
	color: #808080;
}

.nav-link:hover{
	color: #06038D;
}

/*Header content*/
.header-content{
	position:relative;
}

.head_img{
	height:600px;
	width:100%;
}

.header-title{
    top:0;
	position:absolute;
	text-align: center;
	font-weight: 600;
	font-size: 60px;
	margin-bottom: 0px;
	padding: 180px 350px;
	color:#FFF ;
}
.header-content p{
	line-height: 2;
    margin-block-end: 1%;
}

.head-img{
    flex:1 1 40rem;
    animation: fadeRight .4s linear;
    width: 100%;
}

/*Menu*/
.menu{
	margin: 0;
	background-color: #f2e8c9;
}

.menu-title{
	color:black;
	font-size: 36px;
	text-align: center;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:10px;
}

.box{
    padding:20px;
    text-align: center;
    border:var(--border);
}
.box:hover{
	box-shadow: 2px 2px 2px 2px;
}

.box img{
    height: 10rem;
}

.box h3{
    color: black;
    font-size: 20px;
    padding:10px 0;
}

.box:hover{
    background:#fff;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    color:white;
    background:black;
    cursor: pointer;
    padding: 10px
}

.btn:hover{
    letter-spacing: .2rem;
    color: black;
}

/*Footer*/
.footer{
    background-color:#fff;
    text-align: center;
}

.share{
    padding:16px 0;
}

.share a{
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 32px;
    color:#fff;
}


.cart{
	max-width: 35px;
	margin-top: 10px;
}































/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}

 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 2fr));
    gap:1rem;
    align-items: flex-start;
    justify-content: center;
 }
 
 .footer .box-container .box{
    padding:2rem;
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
 }
 
 .footer .box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color:var(--white);
    background-color: var(--red);
    border-radius: 50%;
    margin-bottom: .5rem;
 }
 
 .footer .box-container .box h3{
    margin:1rem 0;
    color:var(--black);
    text-transform: capitalize;
    font-size: 1rem;
 }
 
 .footer .box-container .box p{
    line-height: 1;
    font-size: 1rem;
    color:var(--light-color);
 }
 
 .footer .credit{
    text-align: center;
    margin-top: 3rem;
    padding:1rem 0;
    padding-top: 3rem;
    border-top: var(--border);
    font-size: 1rem;
    color:var(--black);
    /* padding-bottom: 8rem; */
 }
 
 .footer .credit span{
    color: var(--red);
 }

 
 
 




