{% extends 'book/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/cart.css">
<div class="container">
    <div class="basket-content">
        <div class="basket-title">
            <h2>Корзина</h2>
            <input class="delete-all" type="button" value="Очистить">
        </div>
        <div class="basket-items-container">
            <div class="basket-items-title">
                <div><h3>Фото</h3></div>
                <div><h3>Название</h3></div>
                <div><h3>Цена</h3></div>
                <div><h3>Количество</h3></div>
                <div><h3>Сумма</h3></div>
                <div><h3>  </h3></div>
            </div>
            <div class="basket-item">
                <div><img class="basket-img" src="{% static 'static/img/pizza-1.jpg' %}"></div>
                <div><h4>dsffsd</h4></div>
                <div><h4>dsffsd</h4></div>
                <div class="items-counter-wrapper">
                    <div class="items__control" data-action="minus">-</div>
                    <div class="items__current" data-counter>1</div>
                    <div class="items__control" data-action="plus">+</div>
                </div>
                <div><h4>dsffsd</h4></div>
                <input class="delete-all" type="button" value="Очистить">
            </div>            
        </div>
        <div class="basket-sum">
            <div><h3>Итоговая сумма:</h3></div>
            <div><h3>545654</h3></div>
        </div>
        <div class="backet-buttons">
            <input class="delete-all" type="button" value="Очистить">
            <input class="delete-all" type="button" value="Очистить">
        </div>
    </div>
</div>
<script src="{% static '/js/cart.js' %}"></script>
{% endblock %}
