{% extends 'book/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/order.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">

{% block section %}
<div class="container">
</div>
<div class="container1">
    <div class='window'>
      <div class='order-info'>
        <div class='order-info-content'>
          <h2>Ваш заказы</h2>
                  <div class='line'></div>
          <table class='order-table'>
            <tbody>
              <tr>
                <td><img src='https://planeta778.1c-umi.ru/images/cms/data/picca/30258560074074452_7f68.jpg' class='full-width'></img>
                </td>
                <td>
                  <br> <span class='thin'>Пицца</span>
                  <br>Маргарита<br> <span class='thin small'>Сыр помидор теста<br><br></span>
                </td>
  
              </tr>
              <tr>
                <td>
                  <div class='price'>1200</div>
                </td>
              </tr>
            </tbody>
  
          </table>
          <div class='line'></div>
          <table class='order-table'>
            <tbody>
              <tr>
                <td><img src='https://planeta778.1c-umi.ru/images/cms/data/picca/30258560074074452_7f68.jpg' class='full-width'></img>
                </td>
                <td>
                  <br> <span class='thin'>Пицца</span>
                  <br>Грибная пицца<br> <span class='thin small'> Грибы тесто спецы сыр</span>
                </td>
              </tr>
              <tr>
                <td>
                  <div class='price'>3290</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class='line'></div>
          <table class='order-table'>
            <tbody>
              <tr>
                <td><img src='https://planeta778.1c-umi.ru/images/cms/data/picca/30258560074074452_7f68.jpg' class='full-width'></img>
                </td>
                <td>
                  <br> <span class='thin'>Пицца</span>
                  <br>Цезарь<br> <span class='thin small'>Капуста  грудинка соусы цезарь</span>
                </td>
  
              </tr>
              <tr>
                <td>
                  <div class='price'>2220</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class='line'></div>
          <div class='total'>
            <span style='float:left;'>
              <div class='thin dense'>Достовка</div>
              Сумма
            </span>
            <span style='float:right; text-align:right;'>
    
              <div class='thin dense'>7500</div>
              8000
            </span>
          </div>
  </div>
  </div>
          <div class='credit-info'>
            <div class='credit-info-content'>
              <table class='half-input-table'>
                <tr><td>Пожалуйста, выберите вашу карту: </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Тип карты</div>
                  <div class='dropdown-select'>
                  <ul>
                    <li>Master Card</li>
                    <li>Viza</li>
                    </ul></div>
                  </div>
                 </td></tr>
              </table>
              <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'></img>
              Номеры карты
              <input class='input-field'></input>
               Карты
              <input class='input-field'></input>
              <table class='half-input-table'>
                <tr>
                  <td> Expires
                    <input class='input-field'></input>
                  </td>
                  <td>CVC
                    <input class='input-field'></input>
                  </td>
                </tr>
              </table>
              <button class='pay-btn'>Заказать</button>
  
            </div>
  
          </div>
        </div>
  </div>

    <script src="/static/js/order.js"></script>
        
{% endblock %}
{% endblock %}

</body>
</html>